{% extends "base.html" %}

{% block content %}
    <h1>Signup</h1>

    <form action="input" method="post">
        <label for="username">Username  </label>
        <input type="text" name="username"/> 
        <br>
        {% if error %}
        <p class='error'>{{ error }}</p>
        {% endif %}
        
        <label for="password">Password  </label>
        <input type="password" name="password" /> 
        <br>
        <p class='error'>{{ error }}</p>
        
        <label for="verify_password">Verify Password  </label>
        <input type="password" name="verify_password"/> 
        <br>
        {% if error %}
        <p class='error'>{{ verify_error }}</p>
        {% endif %}
        
        <label for="email">Email (optional)  </label>
        <input type="text" name="email" /> 
        <br>
        {% if error %}
        <p class='error'>{{ email_error }}</p>
        {% endif %}

        <input type="submit" value="Submit" />
    </form>
    
{% endblock %}